---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/na/v2.3/league/by-summoner/45444628/entry?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"playerOrTeamId":"45444628","playerOrTeamName":"Finklebaum","leagueName":"Riven''s
        Fists","queueType":"RANKED_SOLO_5x5","tier":"BRONZE","rank":"III","leaguePoints":45,"wins":39,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false,"lastPlayed":-1}]'
  recorded_at: Sat, 15 Feb 2014 22:41:09 GMT
recorded_with: VCR 2.8.0
