---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/na/v1.3/game/by-summoner/45444628/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":45444628,"games":[{"gameId":1275139681,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_SOLO_5x5","mapId":1,"teamId":200,"championId":86,"spell1":4,"spell2":12,"level":30,"createDate":1392436670767,"fellowPlayers":[{"summonerId":21787116,"teamId":100,"championId":37},{"summonerId":25961978,"teamId":200,"championId":63},{"summonerId":28320924,"teamId":100,"championId":64},{"summonerId":22438471,"teamId":200,"championId":24},{"summonerId":45557138,"teamId":200,"championId":38},{"summonerId":46271021,"teamId":100,"championId":62},{"summonerId":30556156,"teamId":200,"championId":55},{"summonerId":38805554,"teamId":100,"championId":222},{"summonerId":30926674,"teamId":100,"championId":32}],"stats":{"level":17,"goldEarned":12113,"numDeaths":3,"turretsKilled":2,"minionsKilled":205,"championsKilled":8,"goldSpent":11397,"totalDamageDealt":125594,"totalDamageTaken":26906,"killingSprees":1,"largestKillingSpree":6,"team":200,"win":false,"neutralMinionsKilled":1,"largestMultiKill":1,"physicalDamageDealtPlayer":100746,"magicDamageDealtPlayer":24478,"physicalDamageTaken":19124,"magicDamageTaken":6650,"timePlayed":2049,"assists":4,"item0":3143,"item1":1054,"item2":3047,"item3":3068,"item4":3083,"item5":3134,"item6":3350,"magicDamageDealtToChampions":6765,"physicalDamageDealtToChampions":14021,"totalDamageDealtToChampions":20986,"trueDamageDealtPlayer":370,"trueDamageDealtToChampions":200,"trueDamageTaken":1132,"wardPlaced":5,"neutralMinionsKilledEnemyJungle":1,"totalTimeCrowdControlDealt":442}},{"gameId":1275112320,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_SOLO_5x5","mapId":1,"teamId":100,"championId":412,"spell1":4,"spell2":14,"level":30,"createDate":1392434107052,"fellowPlayers":[{"summonerId":40754907,"teamId":200,"championId":58},{"summonerId":45819821,"teamId":100,"championId":55},{"summonerId":33330245,"teamId":100,"championId":51},{"summonerId":20267631,"teamId":100,"championId":19},{"summonerId":30842503,"teamId":200,"championId":15},{"summonerId":30771153,"teamId":200,"championId":76},{"summonerId":47443987,"teamId":200,"championId":39},{"summonerId":24462584,"teamId":200,"championId":267},{"summonerId":43366735,"teamId":100,"championId":17}],"stats":{"level":10,"goldEarned":5698,"numDeaths":1,"minionsKilled":11,"goldSpent":6375,"totalDamageDealt":18191,"totalDamageTaken":8681,"team":100,"win":true,"neutralMinionsKilled":3,"physicalDamageDealtPlayer":5873,"magicDamageDealtPlayer":11604,"physicalDamageTaken":5508,"magicDamageTaken":2947,"timePlayed":1255,"totalHeal":100,"totalUnitsHealed":1,"assists":4,"item0":3069,"item1":1011,"item2":2049,"item3":3117,"item6":3351,"sightWardsBought":2,"visionWardsBought":1,"magicDamageDealtToChampions":3798,"physicalDamageDealtToChampions":709,"totalDamageDealtToChampions":5109,"trueDamageDealtPlayer":714,"trueDamageDealtToChampions":602,"trueDamageTaken":225,"wardPlaced":8,"neutralMinionsKilledYourJungle":3,"totalTimeCrowdControlDealt":81}},{"gameId":1273794493,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_SOLO_5x5","mapId":1,"teamId":200,"championId":53,"spell1":4,"spell2":14,"level":30,"createDate":1392357630628,"fellowPlayers":[{"summonerId":34210886,"teamId":200,"championId":23},{"summonerId":24126470,"teamId":100,"championId":103},{"summonerId":38361984,"teamId":100,"championId":222},{"summonerId":39078288,"teamId":100,"championId":54},{"summonerId":38900279,"teamId":100,"championId":1},{"summonerId":21487649,"teamId":200,"championId":5},{"summonerId":38590998,"teamId":200,"championId":67},{"summonerId":40726570,"teamId":100,"championId":254},{"summonerId":39739500,"teamId":200,"championId":84}],"stats":{"level":14,"goldEarned":10930,"numDeaths":4,"minionsKilled":22,"championsKilled":1,"goldSpent":10745,"totalDamageDealt":33035,"totalDamageTaken":15416,"team":200,"win":true,"largestMultiKill":1,"physicalDamageDealtPlayer":13724,"magicDamageDealtPlayer":18555,"physicalDamageTaken":10621,"magicDamageTaken":4348,"timePlayed":1801,"totalHeal":40,"totalUnitsHealed":1,"assists":19,"item0":3069,"item1":3190,"item2":2049,"item3":3117,"item4":3024,"item5":3057,"item6":3351,"sightWardsBought":1,"visionWardsBought":2,"magicDamageDealtToChampions":4148,"physicalDamageDealtToChampions":3527,"totalDamageDealtToChampions":8432,"trueDamageDealtPlayer":756,"trueDamageDealtToChampions":756,"trueDamageTaken":446,"wardKilled":1,"wardPlaced":15,"totalTimeCrowdControlDealt":53}},{"gameId":1273698327,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_SOLO_5x5","mapId":1,"teamId":100,"championId":11,"spell1":4,"spell2":11,"level":30,"createDate":1392355316325,"fellowPlayers":[{"summonerId":40761310,"teamId":100,"championId":24},{"summonerId":44691724,"teamId":200,"championId":51},{"summonerId":24407014,"teamId":200,"championId":115},{"summonerId":30952089,"teamId":100,"championId":222},{"summonerId":22278492,"teamId":100,"championId":131},{"summonerId":39905518,"teamId":200,"championId":53},{"summonerId":33800270,"teamId":200,"championId":27},{"summonerId":32546758,"teamId":200,"championId":31},{"summonerId":31449145,"teamId":100,"championId":76}],"stats":{"level":18,"goldEarned":17882,"numDeaths":11,"turretsKilled":1,"minionsKilled":172,"championsKilled":15,"goldSpent":17450,"totalDamageDealt":276234,"totalDamageTaken":41117,"doubleKills":2,"killingSprees":6,"largestKillingSpree":3,"team":100,"win":false,"neutralMinionsKilled":62,"largestMultiKill":2,"physicalDamageDealtPlayer":240343,"magicDamageDealtPlayer":878,"physicalDamageTaken":18171,"magicDamageTaken":20102,"largestCriticalStrike":1192,"timePlayed":2526,"totalHeal":13152,"totalUnitsHealed":1,"assists":9,"item0":3142,"item1":3250,"item2":3209,"item3":3031,"item4":3026,"item5":3046,"item6":3350,"physicalDamageDealtToChampions":30577,"totalDamageDealtToChampions":37139,"trueDamageDealtPlayer":35012,"trueDamageDealtToChampions":6561,"trueDamageTaken":2843,"wardPlaced":10,"neutralMinionsKilledEnemyJungle":10,"neutralMinionsKilledYourJungle":52,"totalTimeCrowdControlDealt":454}},{"gameId":1273652751,"invalid":false,"gameMode":"[...]
