---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/na/v1.3/summoner/45444628,49411514?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"49411514":{"id":49411514,"name":"fartmouth","profileIconId":18,"summonerLevel":3,"revisionDate":1389025549000},"45444628":{"id":45444628,"name":"Finklebaum","profileIconId":6,"summonerLevel":30,"revisionDate":1392472370000}}'
  recorded_at: Sat, 15 Feb 2014 23:52:42 GMT
recorded_with: VCR 2.8.0
